@model IEnumerable<TecBan.Application.Models.AtmModel>


<div class="box">
<div class="box-header">
    <h3 class="box-title">Lista de ATMs</h3>
</div>
<!-- /.box-header -->
<div class="box-body">
    <table id="example1" class="table table-bordered table-striped">
        <thead class="thead-dark">
            <tr>
                <th class="">@Html.DisplayNameFor(model => model.atmPC)</th>
                <th>@Html.DisplayNameFor(model => model.atmNome)</th>
                <th>@Html.DisplayNameFor(model => model.atmPA)</th>
                <th>@Html.DisplayNameFor(model => model.atmEndereco)</th>
                <th>@Html.DisplayNameFor(model => model.atmBairro)</th>
                <th>@Html.DisplayNameFor(model => model.atmUF)</th>
                <th>@Html.DisplayNameFor(model => model.atmComplemento)</th>
                <th>@Html.DisplayNameFor(model => model.atmCep)</th>
                <th>@Html.DisplayNameFor(model => model.atmCidade)</th>
                <th>@Html.DisplayNameFor(model => model.atmPontoRef)</th>
                <th>@Html.DisplayNameFor(model => model.atmLongitude)</th>
                <th>@Html.DisplayNameFor(model => model.atmLatitude)</th>
            </tr>

        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.atmPC)</td>

                <td>@Html.DisplayFor(modelItem => item.atmNome)</td>
                <td>
                    @Html.DisplayFor(modelItem => item.atmPA)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.atmEndereco)
                </td>

                <td> @Html.DisplayFor(modelItem => item.atmBairro)</td>

                <td> @Html.DisplayFor(modelItem => item.atmUF)</td>

                <td>@Html.DisplayFor(modelItem => item.atmComplemento)</td>

                <td>@Html.DisplayFor(modelItem => item.atmCep)</td>

                <td>@Html.DisplayFor(modelItem => item.atmCidade)</td>

                <td>@Html.DisplayFor(modelItem => item.atmPontoRef)</td>

                <td>@Html.DisplayFor(modelItem => item.atmLongitude)</td>

                <td>@Html.DisplayFor(modelItem => item.atmLatitude)</td>

                <td><button type="submit" class="btn bg-maroon margin fa fa-pencil" id="btn_editar"></button></td>
                <td><a class="btn bg-maroon margin glyphicon glyphicon-search rounded-circle" id="btn_detalhes"></a></td>
            </tr>

            }
        </tbody>
       
    </table>
</div>

<table class=" table-bordered table-responsive table-striped" id="table">
    <thead class="thead-dark">
        <tr>

            <th class="col-md-12"></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="col-md-12">Nenhuma pesquisa encontrada</td>
        </tr>
    </tbody>
</table>
</div>